<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Captain</title>
    <link rel='stylesheet' href='css/captain.css'/>
</head>
<body>
    <tabs></tabs>
    <section id="main_area">

        <!-- Main game area of the captain including map and buttons-->
        <div id="mid_area">
            Captain's Dashboard

            <!-- Somehow handsome captain-->
            <div id="character_image_panel">
                    Captain's Image
                </div>

            <!-- Area for the map -->
            <div id="map_panel">
                <img src="images/captain_background.jpg" alt="Captain's Map">
            </div>

            <!-- Right area for captain image and buttons -->
            <div id="mid_right_panel">

                

                <!-- Container for function buttons -->
                <div id="function_button_panel">
                    <button id="mine_btn">Mine</button>
                    <button id="torpedo_btn">Torpedo</button>
                    <button id="drone_btn">Drone</button>
                    <button id="sonar_btn">Sonar</button>
                    <button id="silence_btn">Silence</button>
                    <button id="scenario_btn">Scenario</button>
                </div>

                <!-- Container for direction buttons -->
                <div id="direction_button_panel">
                    <button id="north_btn">North</button>
                    <button id="south_btn">South</button>
                    <button id="east_btn">East</button>
                    <button id="west_btn">West</button>
                </div>

                    <button id="submit">Submit</button>
            </div>


        </div>
    </section>
</body>
</html>