<tabs></tabs>
<div class="engineer-container">
	<!-- Character info -->
	<link rel="stylesheet" type="text/css" href="css/engineer.css">
	<div class="character-info">
		<div class="header-container">
			<h1 class="glow">Engineer</h1>
		</div>


		<div class="team-display right">
			<div class="ui panel right">
				<div class="ui panel content right">
					<div class="profile-picture-container">
						<img src="./images/engineer-icon.png" class="profile-picture" />
					</div>
				</div>
			</div>
		</div>

		<div class="abilities-container">
			<div class="center">
				<div class="ability-row">
					<div class="ability-item">
						<div>
							<label class="ability-label glow">North</label>
						</div>
						<div class="abilities-sub-container">
							<div class="ability-image-container">
								<img src="./images/engineer-icon.png" class="ability-image" />
							</div>
							<div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>