<div class="tabs">
    <div class="sections">
        <div class="tab" ng-click="$ctrl.setPage('Captain')">
            Captain
        </div>
        <div class="tab" ng-click="$ctrl.setPage('Radio')">
            Radio Operator
        </div>
        <div class="tab" ng-click="$ctrl.setPage('FirstMate')">
            First Mate
        </div>
        <div class="tab" ng-click="$ctrl.setPage('Engineer')">
            First Engineer
        </div>
    </div>
    <div class="logout-container">
        Logout
    </div>
</div>